@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
  font-family: 'btseps2';
  src: url("../../assets/fonts/btseps2.woff2") format('woff2');
}

#root {
  margin: 0 auto;
  width: 100vw;
  background: black;
}

.App{
  height: 100vh;
  font-family: "Geist", sans-serif;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: row;

  background-size: 150%;
  background-position: 0%;
  background-repeat: no-repeat;
}

.App__left{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 26px 0 0 0px;
  width: 27%;
  height: 94%;
  box-sizing: border-box;
}

.App__logo{
  display:flex;
  
}

.star_s{
  position: relative;
  width: 52px;
  top: 100px;
  left: 20px;

}

.star_l{
  position: relative;
  width: 105px;
  bottom: 20px;
  right: 35px;
}

.App__body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 90%;
  min-height: 900px;
  width: 100%;
  margin-top: 30px;
  margin-left: 30px;
  box-sizing: border-box;
  margin-right: 15px;
}

.App__top_time{
  font-size: 36px;
  font-family: 'Bai Jamjuree';
  font-weight: 200;
  margin: 0 10px 10px 0;
  transform: translateY(10px);
  align-self: flex-end;
}

.App__top_border{
  border-top: solid 1px white;
  width: 99%;
  margin-bottom: 32px;
  align-self: flex-end;
}

.triple{
  height: 45px;
  width: 44px;
  transform: translateY(70px);
  padding-right: 16px;
}


