.Side{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(164deg, rgba(39,138,218,1) 0%, rgba(148,200,242,1) 100%);
}
.Side__title_wrapper{
    margin-left: 20px;
    margin-top: 20%;
    flex-wrap: nowrap;
    flex-direction: column;
    display:flex;
    margin-bottom: 56px;
}
.Side__title{
    font-size: 128px;
    line-height: 10%;
    font-weight: 600;
    z-index: 2;
}

.Side__star{
    position: relative;
    top: -75px;
    left: 350px;
    height: 60px;
    width: 60px;
}

.Side__about{
    margin-top: 56px;
    font-size: 32px;
    margin-left: 45px;
    margin: 56px 0 0 45px;
    font-weight: 500;
}
.Side__text{
    margin-left: 45px;
    margin-right: 35px;
    line-height: 200%;
    font-size: 20px;
}


.Side__blocker{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}